html,
body,
#app {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  /* quebra linha flex-wrap, default: nowrap */
  /* flex-wrap: wrap; */
  /* align-items: center; */
  /* justify-content: center;
  align-content: center; */
}

.box {
  width: 150px;
  height: 60px;
  margin: 5px;
  /* Aceita ser aumentado flex-grow, default: 0 */
  /* Aceita ser espremido flex-shrink, default: 1 */
  /* flex grow e shrink = flex, default: 0 1 */
  /* flex: 1; */
}

.red {
  background: #e43636;
  order: 3;
}

.blue {
  background: #3696e4;
  order: 0;
}

.green {
  background: #36e46a;
  order: 2;
}
